body {
    background-color: white;
}

h1 {
    text-align: center;
    vertical-align: super;
    color: black;
}

#nextBtn {
    border: white 5px solid;
    /* border-radius:; */

    padding: 1em 3em;

    background-color: e0e1dd;
}