body {
    background-color: #caf0f8;
}

h1 {
    text-align: center;
    vertical-align: super;
    color: #0077b6;
}

#nextBtn {
    border: white 5px solid;
    /* border-radius:; */

    padding: 1em 3em;

    background-color: e0e1dd;
}